
<center>
  <% if @user_name %>
  <h1>Bookmark Manager</h1><b>
  <p> Welcome <%= @user_name %>!</p><b>
  <p> Choose a website you want to save</p>
  <form action="/users/sign_out" method="post">
    <input type="submit" value="sign out">
  </form>
  <% end %>
  <%= flash[:message] %>
  <p>Choose a website you want to save</p>
  <div id='links'>
    <% @links.each do |link| %>
      <div id='single_link'>
        Title: <%= link.title %>
        URL: <%= link.url %>
        Tag: <% link.tags.each do |tag| %>
              <%= tag.name %>
              <% end %>
      <!-- <form action="/links/<%= link.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form> -->
      </div>
    <% end %>
  </div>
  <div id="tag-form">
    <form action="/tag-filters" method="post">
      Search by a tag:
      <input type="text" name="tag">
      <input type="submit" value="Submit"><br>
    </form>
  </div>

  <div id="new-bookmark">
    <form action="/links/new" method="post">
      <input type="submit" value="New Website"><br>
    </form>
  </div>

</center>
