<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<center>
  <% if @user_name %>
  <h1>Bookmark Manager</h1><b>
  <p> Welcome <%= @user_name %>!</p><b>
  <p> Choose a website you want to save</p>
  <form action="/users/sign_out" method="post">
    <input type="submit" value="sign out">
  </form>
  <% end %>
  <%= flash[:message] %>
  <h1>Bookmark</h1>
  <p>Choose a website you want to save</p>
  <div id='links'>
    <% @links.each do |link| %>
      <div id='single_link'>
        Title: <%= link.title %>
        URL: <%= link.url %>
        Tag: <% link.tags.each do |tag| %>
              <%= tag.name %>
              <% end %>
      <!-- <form action="/links/<%= link.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form> -->
      </div>
    <% end %>
  </div>
  <div id="tag-form">
    <form action="/tag-filters" method="post">
      Search by a tag:
      <input type="text" name="tag">
      <input type="submit" value="Submit"><br>
    </form>
  </div>
</center>

<style>
  form{
    padding-left: 25%;
    padding-right: 25%;
  }
  h1{
    font-size: 500%;
  }
  p{
    font-size: 250%;
  }
  #links{
    padding-left: 25%;
    padding-right: 25%;
  }
  /*#single_link{
    padding-left: 25%;
    padding-right: 25%;
  }*/
</style>
