<center>

  <% if @user_name %>
  <p> Welcome <%= @user_name %>!</p>
  <form action="/users/sign_out" method="post">
    <input type="submit" value="sign out">
  </form>
  <% end %>
  <%= flash[:message] %>
  <h1>Bookmark</h1>
  <div id='links'>
    <% @links.each do |link| %>
      <div>
        Title: <%= link.title %>
        URL: <%= link.url %>
        Tag: <% link.tags.each do |tag| %>
          <%= tag.name %>;
              <% end %>
      <!-- <form action="/links/<%= link.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form> -->
      </div>
    <% end %>
  </div>
  <div id="tag-form">
    <form action="/tag-filters" method="post">
      Search by a tag:
      <input type="text" name="tag">
      <input type="submit" value="Submit"><br>
    </form>
  </div>
</center>
